/* Fontawesome*/
$fa-font-path: "../webfonts";

/* Fonts */
$main_font: "Roboto", sans-serif;
$second_font: "Noto serif", serif;

/* Colors*/
$accent_color: #800040;
$accent_lighter: #9b0256;
$accent_darker: #57002b;
$accent_bright: #e00070;
$background_color: #fafafa;
$main_bg_color: #fff;
$red: #d15e5e;
$box_shadow: 0 1px 20px 0 rgba(128, 126, 126, 0.1);
$light_gray: rgb(207, 206, 206);

$standard_padding: 2em;
