/* Fontawesome*/
$fa-font-path: "../webfonts";

/* Fonts */
$main_font: "Open Sans", sans-serif;

/* Colors*/
$accent_color: #36d1a0;
$accent_lighter: #3be5af;
$accent_darker: #14bc87;
$accent_bright: #5eeec0;
$background_color: #fafafa;
$main_bg_color: #fff;
$red: #d15e5e;
$box_shadow: 0 1px 20px 0 rgba(128, 126, 126, 0.1);
